@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");

:root {
    display: flex;
    align-items: center;
    width: 100vw;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    position: relative;

    background-color: black;
    color: aliceblue;
}